@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Pretendard;
  src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
    font-family: Jalnan;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.bottom-shadow {
  box-shadow: 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.custom-shadow {
  box-shadow:
    /* offset-x | offset-y | blur-radius | spread-radius | color */ 0px
      3px 4px 0px hsla(0, 0%, 0%, 0.14),
    0px 3px 3px -2px hsla(0, 0%, 0%, 0.12), 0px 1px 8px 0px hsla(0, 0%, 0%, 0.2);

  &:hover {
    box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */ 0px
        6px 10px 0px hsla(0, 0%, 0%, 0.14),
      0px 1px 18px 0px hsla(0, 0%, 0%, 0.12),
      0px 3px 5px -1px hsla(0, 0%, 0%, 0.2);
  }
}

@layer base {
  html {
    font-family: "Pretendard";
    font-size: 1rem;
    letter-spacing: 0.0406rem;
    @screen tablet {
      font-size: 0.875rem;
    }

    @screen mobile {
      font-size: 0.75rem;
    }
  }
}

@layer components {
  main {
    & h1 {
      @apply my-8 text-4xl font-bold block;
    }
    & h2 {
      @apply bg-cyan-500 bg-opacity-10 my-8 block text-3xl font-bold;
    }
    & h3 {
      @apply bg-green-600 bg-opacity-5 my-8 block text-2xl font-bold;
    }
    & ul {
      @apply block list-disc;
    }
    & li {
      @apply list-item ml-6;
    }
    & figure {
      @apply py-6 overflow-hidden;
    }
    & code {
      @apply text-sm bg-gray-200 text-red-500 p-1 m-2 rounded-sm;
    }
    & code[data-theme] {
      @apply p-6 bg-inherit text-inherit;
    }
    & p {
      @apply mb-2 mt-6;
    }
    & aside {
      @apply bg-yellow-500 bg-opacity-10 p-4 my-2;
    }
  }
}
